html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
body {
    margin: 0;
  }
/*font-family: 'Barlow', sans-serif;
font-family: 'Sriracha', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Simonetta', cursive;
font-family: 'Oranienbaum', serif;*/
h1{
    font-family: 'Sulphur Point', sans-serif;
}
h2{
    font-family: 'Dancing Script', cursive;
}
div{
    background-image: url("/Tecnolog-aWeb1/imagenes/salar-de-uyuni-bolivia.jpg");
    background-position: center;
    height:20rem ;
    padding: 0px;
}
p{
    font-family: 'Barlow', sans-serif;
}