html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}
*{
    box-sizing: border-box; 
 }
body {
    margin: 0px 0px 0px 0px;
}

/*----------------------Pagina Principal--------------------*/

#fondo {
    transition: 0.25s;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-image: url("/Tecnolog-aWeb1/imagenes/SalarUyuni10.jpg");
    background-size: 100% 100%;
    background-position: center;
    z-index: -1;
}

#logoYnombre {
    width: 65%;
    display: grid;
    grid-template-columns: 30% 70%;
}

#logo {
    /*border: black solid;*/
    float: left;
    background-image: url("/Tecnolog-aWeb1/imagenes/logoSalarTransparente.png");
    background-size: 100% 100%;
    height: 90%;
}

#titulo {
    /*border: black solid;*/
    font-size: 400%;
}

#cabecera {
    padding: 1rem;
    display: grid;
    grid-template-columns: 75% 25%;
}
#climaTotal{
    display: grid;
    grid-template-columns: 85% 15%;
    height: 70%;
    width: 100%;
    background-color: white;
    opacity: 0.4;
    border-radius: 8px;
    margin: auto;
    
}
#clima {
    display: grid;
    grid-template-columns: 56% 44%;
    grid-template-rows: 44% 56%;
    height: 100%;
    width: 100%;
    margin: auto;
    font-weight: bold;
    text-align: center;
    font-family: 'Barlow', sans-serif;
   
   
}
#fuenteClima{
    writing-mode: vertical-rl;
 margin: 0;
 padding: 20%;
 text-align-last: center;
   font-size: 90%;
   color: white;
   background-color: black;
   border-radius:0 8px 8px 0;
}
#humedad {
    margin: 0 auto auto auto;
    font-size: 250%;
}

#cc-temp {
    margin: 0 auto auto auto;
    font-size: 250%;
}

.tituloClima {
    font-size: 120%;
    font-family: 'Barlow', sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}

/*font-family: 'Barlow', sans-serif;
font-family: 'Sriracha', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Simonetta', cursive;
font-family: 'Oranienbaum', serif;*/

h1 {
    font-family: 'Sulphur Point', sans-serif;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 400%;
}

#central {
    /*border: black solid;*/
    height: 5rem;
    width: 90%;
    margin: auto;
    margin-top: 9%;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
}

#menu {
    font-size: 400%;
    font-weight: bolder;
    text-align: center;
    margin: 0;
    /*border: black solid;*/
    transition: 0.3s;
    font-family: 'Dancing Script', cursive;
    text-decoration: solid;
    color: black;
}

#flechaAtras {
    /*border: black solid;*/
    transition: 0.3s;
    width: 80%;
    height: 60%;
    background-image: url("/Tecnolog-aWeb1/imagenes/flecha2Atras.png");
    background-size: 100% 100%;
    margin: auto;
    margin-left: 0;
}

#flechaAdelante {
    /*border: black solid;*/
    transition: 0.3s;
    width: 80%;
    height: 60%;
    background-image: url("/Tecnolog-aWeb1/imagenes/flecha2.png");
    background-size: 100% 100%;
    margin: auto;
    margin-right: 0;
}

#barraNav {
    width: 18%;
    height: 2rem;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 80% 20%;
}

#uno, #dos, #tres, #cuatro {
    font-family: monospace;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    margin-top: 10%;
    transition: 0.3s;
}

#lugares, #hoteles, #galeria, #contactos {
    text-align: center;
    background-color: black;
    margin: 0 2px 0 2px;
    transition: 0.3s;
}

#hoteles, #galeria, #contactos {
    background-color: white;
    transition: 0.3s;
}

footer {
    /*border: solid black;*/
    text-align: center;
    margin-top: 8%;
    font-family: 'Barlow', sans-serif;
}

p {
    font-family: 'Barlow', sans-serif;
    text-align: justify;
}



/************Estilos Cabecera***************/
#cabecera2 {   
    width: 100%;
    display: grid;
    grid-template-columns: 80% 15%;
    grid-template-rows: 100%;
    margin-top: 3%;
}
#cabeceraHotel {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 15%;
    grid-template-rows: 100%;
    position: fixed;
    margin-top: 3%;
}

#subTitulo {
    margin: auto;
    margin-left: 5%;
}

#volverHome {
    text-decoration: solid;
    color: black;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
    transition: 0.5s;
    background-color: whitesmoke;
    opacity: 0.5;
    border-radius: 5px;
}

#flechaAtrasHome {
    transition: 0.5s;
    width: 100%;
    height: 100%;
    background-image: url("/Tecnolog-aWeb1/imagenes/flechaLargaAtras.png");
    background-size: 80% 30%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

#home {
    font-size: 170%;
    margin: auto;
    margin-left: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
}

#volverHome:hover {
    font-size: 115%;
}

#flechaAtrasHome:hover {
    width: 110%;
}

/************Estilos pagina de hoteles***********/

#mainHotel {
    width: 100%;
    height: 80rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 52.5% 47.5%;
}

#hotel1, #hotel2 {
    size: 100% 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.tituloHotel {
    margin: auto;
    padding: 2%;
    color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 25%;
    background-color: rgb(18, 18, 37);
    opacity: 0.6;
    border-radius: 3%;
}

.tituloHotel h2 {
    text-align: center;
}

.infoHotel article {
    margin: 5%;
}

.infoHotel {
    width: 80%;
    margin: auto;
    border: black solid;
    color: white;
    background-color: rgb(18, 18, 37);
    opacity: 0.6;
    border-radius: 3%;
}

#hotel1 {
    background-image: url("/Tecnolog-aWeb1/imagenes/HotelLunaSalada.jpg");
    background-size: 100% 100%;
    padding-top: 3%;
}

#hotel2 {
    background-image: url("/Tecnolog-aWeb1/imagenes/hotel01.jpg");
    background-size: 100% 100%;
    padding-top: 1%;
}

/***********Estilos Formulario de Contactos***********/

#bodyContactos {
    background-image: url(/Tecnolog-aWeb1/imagenes/tours01.jpg);
    background-size: cover;
}

#formulario {
    margin: auto;
    width: 50%;
    font-family: 'Barlow', sans-serif;
    max-width: 1170px;
    background-color: white;
    opacity: .7;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 5%;
}

#formulario>* {
    padding: 2em;
}

#formulario form {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#formulario form .bloque {
    margin-left: 3%;
    margin-right: 3%;
    grid-column: 1/3;
}

#formulario form .entrada, #formulario form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    border-bottom: 1px solid darkblue;
}

#formulario p {
    margin: 6%;
    text-align: left;
}
.sexo{
    margin-top: 8%;
    margin-left: 5%;
    text-align: center;
}
#formulario form fieldset{
    border: darkblue solid;

}
#boton {
    display: block;
    background-color: limegreen;
    margin: auto;
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    border: none;
    font-family: 'Barlow', sans-serif;
    font-weight:  bold;
}
#boton:hover{
    cursor: pointer;
}
#gracias{
margin: auto;
   font-size: 250%;
  margin-top: 10%;
  background-color: white;
  opacity: 0.5;
}
#gracias p{
    text-align: center;
}

/***********ESTILOS GALERIA**********/
#cuerpoGaleria{
    background-image: url("/Tecnolog-aWeb1/imagenes/fonfoGaleria2.jpg");
background-size: cover;
}
.galeria img {
    width: 350px;
    height: 200px;
    margin: 0.3%;
}

.galeria {
    width: 90%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    
}
/***************ESTILOS LUGARES**********/
#mainLugares {
    width: 100%;
    height: 163rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 26% 24% 26% 24%;
}

#lugar1,#lugar2,#lugar3,#lugar4 {
    size: 100% 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.tituloLugar {
    margin: auto;
    padding: 2%;
    color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 25%;
    background-color: rgb(18, 18, 37);
    opacity: 0.6;
    border-radius: 5px;
}

.tituloLugar h2 {
    text-align: center;
}

.infoLugar article {
    margin: 5%;
}

.infoLugar {
    width: 70%;
    margin: auto;
    border: black solid;
    color: white;
    background-color: rgb(18, 18, 37);
    opacity: 0.6;
    border-radius: 5px;
}
#lugar1 {
    background-image: url("/Tecnolog-aWeb1/imagenes/SalarUyuni08.jpg");
    background-size: 100% 100%;
    padding-top: 1%;
}
#lugar2 {
    background-image: url("/Tecnolog-aWeb1/imagenes/cementeriotrenes02.jpg");
    background-size: 100% 100%;
    padding-top: 1%;
}
#lugar3 {
    background-image: url("/Tecnolog-aWeb1/imagenes/SalarUyuni09.jpg");
    background-size: 100% 100%;
    padding-top: 1%;
}#lugar4 {
    background-image: url("/Tecnolog-aWeb1/imagenes/galeria.jpg");
    background-size: 100% 100%;
    padding-top: 6%;
}
/*****************MEDIA QUERIES***********/
@media screen and (min-width:480px) and (max-width:780px){
    #cabecera {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60% 40%;
    }
    #logoYnombre {
        width: 100%;
        display: grid;
        grid-template-columns: 25% 75%;
    }
    #titulo {
        font-size: 300%;
    }
    #logo {
        height: 80%;
        
    }


    #climaTotal {
        height: 80%;
        width: 60%;     
        margin-top: 1%;    
    }
    #fuenteClima{
        font-size: 60%;
        text-align-last: left;
        padding:15%;
    }
    #humedad {
        font-size: 170%;
    }
    #cc-temp {
        font-size: 170%;
    }
    .tituloClima {
        font-size: 80%;
    }
    #central {
        margin-top: 5%;
    }
    #menu {
        font-size: 300%;
      margin: auto;
      
    }
    #barraNav {
        width: 30%;
    }
    #uno, #dos, #tres, #cuatro {
        font-size: 150%; 
    }
    footer {
        font-size: 100%;
    }
}
@media screen and (max-width:480px){
    #cabecera {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
    }
    #logoYnombre {
        width: 100%;
        display: grid;
        grid-template-columns: 30% 70%;
    }
    #logo {
        height: 60%;
        margin-top: 15px;
    }
    #titulo {
        font-size: 220%;
        padding-top: 5%;
    }
    #climaTotal {
        height: 100%;
        width: 80%;         
    }
    #fuenteClima{
        font-size: 60%;
        text-align-last: left;
    }
    #humedad {
        font-size: 130%;
    }
    #cc-temp {
        font-size: 130%;
    }
    .tituloClima {
        font-size: 70%;
    }
    h2 {
        font-family: 'Dancing Script', cursive;
        font-size: 400%;
    }
    #menu {
        font-size: 220%;
        margin: auto;
    }
    #barraNav {
        width: 40%;
    }
    #uno, #dos, #tres, #cuatro {
        font-size: 130%; 
    }
    footer {
        font-size: 70%;
    }
}