html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
body {
    margin: 0;
  }
  header{
      padding: 1rem;
  }
/*font-family: 'Barlow', sans-serif;
font-family: 'Sriracha', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Simonetta', cursive;
font-family: 'Oranienbaum', serif;*/
h1{
    font-family: 'Sulphur Point', sans-serif;
}
h2{
    font-family: 'Dancing Script', cursive;
}
div{
    padding: 10px;
}
#imagenCentral{
    background-image: url("/Tecnolog-aWeb1/imagenes/SalarUyuni06.jpg");
    background-position: center;
    
    height:20rem ;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
p{
    font-family: 'Barlow', sans-serif;
    text-align: justify;
}
.galeria img{
    width: 350px;
    height: 200px;
}
.galeria{
    width: 90%;
    margin:auto;
    padding: 20px;
}
.formulario{
    width: 50%;
    margin: auto;
}
.tituloContactos{
    margin: auto;
}
label{
    font-family: 'Roboto', ;
}